<button type="button" [class]="hostClasses.join(' ')" [disabled]="disabled">
  <app-icon
    *ngIf="leadingIcon"
    class="rmx-btn__icon rmx-btn__icon--leading"
    [name]="leadingIcon"
    [size]="size === 'compact' ? 'small' : 'medium'"
    [color]="iconColor"
  ></app-icon>

  <span class="rmx-btn__text" *ngIf="showText">{{ text }}</span>

  <app-icon
    *ngIf="trailingIcon"
    class="rmx-btn__icon rmx-btn__icon--trailing"
    [name]="trailingIcon"
    [size]="size === 'compact' ? 'small' : 'medium'"
    [color]="iconColor"
  ></app-icon>
</button>
